/*wrapper*/
* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}
.body{
	display: flex;
	flex-direction: column;
}
#wrapper{
	display: flex;
	flex-flow: column;
	width: 85%;
	margin: auto;
	height: auto;
	background-color: #ffffff;
}
h4{
	line-height: 38px;
	font-size: 36px;
	color: #333333;
	display: block;
}
/*h5{
	line-height: 27px;
	font-size: 26px;
	color: #000000;
	margin-bottom: 22px;
}*/
h3{
	margin-left: 3%;
	font-size: 26px;
	color: #008CDF;
}
h5{
	line-height: 42px;
	font-size: 24px;
	color: #5A5A5A;
}
ul li{
	list-style: none;
}
.block_size{
	width: 100%;
}
/*header*/
#header{
	display: flex;
	flex: 0 0 auto;
	justify-content: space-between;
	margin: auto;
	background-image: url(../img/triangle.png);
	background-size: 130% 100%;
	background-repeat: no-repeat;
	background-position: right;
}
.log{
	display: flex;
	flex: 1;
}
.log a {
	margin-left: 10%;
}
.main_page_img_log{
	width: 90%;
	height: 100%;
}

.gadgets{
	flex: 2;
	display: flex;
	margin-right: 40px;
	height: auto;
}
.gadgets_img{
	width: 65px;
	height: auto;
	margin: 5px;
	cursor: pointer;
}
/*menu*/
.head_menu{
	flex: 2;
	height: auto;
	padding-top: 2%;
}
.head_menu ul li{
	list-style-type: none;
	margin: 10px;
}
.head_menu ul li a{
	text-decoration: none;
	color: #00304D;
	line-height: 21px;
	font-size: 20px;
}
.menu_items{
	display: flex;
	justify-content: center;
}
/*content*/
/*block №1*/

.block1{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap-reverse;
	background-color: #017BC3;
	margin: auto;
}
.slide{
	display: flex;
	width: 43%;
	height: auto;
	margin: 0;
	float: left;
}
.slide img{
	width: 100%;
	height: 100%;
}
.registrations{
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 369px;
	margin: 3% 1% 0 0;
	background-color: rgba(0, 0, 0, 0.16);
	color: #ffffff;
	padding: 2% 3% 0 3%;
}
.registrations h1{
	font-style: normal;
	font-weight: bold;
	line-height: 25px;
	font-size: 48px;
	margin-bottom: 30px;
}
.registrations p{
	font-style: normal;
	line-height: 25px;
	font-size: 24px;
}
.but_int_registr{
	display: flex;
}
.but_int_registr button{
	width: 199px;
	height: 56px;
	cursor: pointer;
	font-weight: bold;
	line-height: 25px;
	font-size: 24px;
	color: #ffffff;
	margin-top: 50px;
	border: 0;
}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
.go_into{
	background-color: #008CDF;
	margin-left: 110px;
}
.registr{
	background-color: #DFA300;
	margin-left: 36px;
}
/*block №2*/
.block2{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap-reverse;
	flex: 1 1 auto;
	margin: auto;
}
.alignment1{
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.participants{
	display: flex;
	width: 100%;
}
.block2 h4{
	margin-bottom: 31px; 
	margin-top: 50px;
	margin-left: 89px;
}
.profile{
	width: 19%;
	height: auto;
	margin-left: 3%;
	margin-right: 3%;
	text-align: center;
	cursor: pointer;
}
.profile img{
	width: 215px;
	height: auto;
	border-right: 50%;
}
.full_name{
	margin: 7px 0 8px 0;
}
.full_name li{
	text-align: left;
	line-height: 25px;
	font-size: 24px;
	color: #000000;
	display: block;
}

.rat{
	text-align: left;
}
.property{
	line-height: 25px;
	font-size: 24px;
	color: #767676;
}
.rating{
	color: #000000;
}
/*block №3*/
.block3{
	display: flex;
	flex-direction: column;
	margin: auto;
	position: relative;
	background-color: #F9F9F9;
}
.block3 h4{
	padding-top: 50px;
}
.alignment2{
	display: flex;
	flex-direction: column;
}
.questions{
	display: flex;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-around;
}
.headings{
	width: 477px;
	height: 200px;
	margin-top: 30px;
}
.headings p{
	display: block;
	width: 330px;
	height: 150px;
	line-height: 25px;
	font-size: 24px;
	color: #767676;
}

.prog_green{
	width: 340px;
	height: 56px;
	background: #009643;
	margin-bottom: 29px;
}
.prog_orange{
	width: 304px;
	height: 56px;
	background: #EAB600;
}
.show_more{
	width: 349px;
	height: 68px;
	margin: auto;
	background: #008CDF;
	text-align: center;
	left: 811px;
	bottom: 42px;
	cursor: pointer;
}
.show_more span{
	display: block;
	line-height: 30px;
	font-size: 28px;
	color: #FFFFFF;
	margin-top: 15px;
}
/* block4 */
.block4{
	display: flex;
	margin: auto;
	flex-direction: column;
}
.block4 h4{
	margin-left: 22px;
	margin-top: 52px;
}
.alignment3{
	display: flex;
	justify-content: space-around;
}
.history{
	margin-top: 112px;
	width: 400px;
	float: left;
	margin: 22px;
}
.history p{
	line-height: 23px;
	font-size: 22px;
	color: #323232;
}
.number{
	font-weight: bold;
	line-height: 21px;
	font-size: 20px;
	margin-bottom: 20px;
	color: #767676;
	display: block;
}
/* footer */
.footer{
	flex: 0 0 auto;
	flex-basis: 50%;
	width: 100%;
	height: 102px;
	text-align: center;
	background-color: #F9F9F9;
}
.footer span{
	display: block;
	margin-top: 39px;
	line-height: 23px;
	font-size: 22px;
	color: #767676;
}
/*  стили для my-peronal-page.html*/
.header{
	display: flex;
	align-items: center;
	width: 85%;
	margin: auto;
}
.img_log{
	width: 45%;
	height: auto;
	margin-top: 11px;
}
.search{
	width: 335px;
	display: flex;
}
.search input{
	width: 286px;
	height: 44px;
	background: #F6F6F6;
	border: 1px solid #EAEAEA;
	box-sizing: border-box;
}
.search button {
	border: 0;
	width: 46px;
	height: 44px;
	background-color: #C4C4C4;
}
.search img{
	cursor: pointer;
}
/*sidebar*/
.sidebar {
	margin-left: 64px;
	margin-top: 5px;
	flex: 0 0 auto;
	background-color: #FBFBFB;
	text-align: center;
	margin-right: 30px;
}
.ikon img{
	width: 108px;
	height: 108px;
	margin-bottom: 15px;
	background: url(img-2.png);
	border: 1px solid #C9C9C9;
	box-sizing: border-box;
	border-radius: 107.5px;
}
.anastasia{
	display: block;
	margin: auto;
	width: 239px;
	height: 20px;
	line-height: 21px;
	font-size: 20px;
	text-align: center;
	color: #B2B2B2;
}
.ivanovna{
	display: block;
	margin: auto;
	width: 239px;
	height: 35px;
	border-bottom: solid 1px #EBEBEB;
	line-height: 21px;
	font-size: 20px;
	text-align: center;
	color: #B2B2B2;
}
/* Мой профиль Опросы Сообщения Поиск Рейтинг Отзывы Настройки */
.my_profile{
	line-height: 35px;
	font-size: 20px;
	color: #008CDF;
}
.ikon ul{
	list-style-type: none;
	width: 237px;
	height: 232px;
	text-align: left;
	margin-top: 15px;
	margin-left: 31px;
}
.ikon ul li a{
	line-height: 35px;
	font-size: 20px;
	color: #676767;
	text-decoration: none;
}
/*content*/
.align_profile{
	display: flex;
	width: 85%;
	margin: auto;
}
.content{
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}
.ava_big{
	float: left;
}
.ava_big img{
	width: 228px;
	height: 287px;
	border: 1px solid #EBEBEB;
}
.name{
	display: flex;
	width: 710px;
	height: 32px;
	line-height: 32px;
	font-size: 30px;
	color: #676767;
	margin-left: 15px;
}
.name h2{
	display: block;
	width: 430px;
	font-size: 30px;
	line-height: 32px;
	color: #676767;
	float: left;
}
/* online */
.onli{
	display: block;
	float: left;
	width: 49px;
	height: 19px;
	line-height: 19px;
	font-size: 18px;
	color: #C6C6C6;
	margin-top: 10px;
}
/* Статус: Сотрудник Организация: ИТМО (Полное название организации) Направление: Экономика */
.TTH{
	display: flex;
	flex-flow: column;
	width: 454px;
	height: 70px;
	margin-left: 15px;
	margin-top: 10px;
}
.TTH span{
	line-height: 19px;
	font-size: 18px;
	color: #919191;
	display: block;
}
.content1{
	display: flex;
	flex-flow: column;
}
/* Архив */
.archive{
	position: absolute;
	top: 165px;
	right: 75px;
	font-weight: 300;
	line-height: 17px;
	font-size: 16px;
	text-decoration-line: underline;
	color: #37B9EC;
}
/* Архив анкеты */
.archive img{
	float: left;
	width: 18px;
}
.archive a{
	width: 102px;
	height: 17px;
	font-weight: 300;
	line-height: 17px;
	font-size: 16px;
	text-decoration-line: underline;
	color: #37B9EC;
}
/* Профессия */
.profession{
	display: flex;
	flex-direction: column;
	width: 710px;
	height: 160px;
	margin-left: 15px;
}
.profession h3{
	line-height: 42px;
	font-size: 24px;
	color: #5A5A5A;
}
/* менеджер */
.profession h6{
	line-height: 32px;
	font-size: 18px;
	color: #B2B2B2;
	float: left;
}
.level_profession{
	display: flex;
}
.level{
	display: flex;
	flex-direction: column;
	width: 150px;
	font-weight: 300;
	line-height: 74px;
	font-size: 42px;
	color: #B5B4B4;
}
.level span{
	display: block;
}
.level canvas{
	width: 40px;
	height: 40px;
}
.profile_bloc1{
	display: flex;
	width: 980px;
	height: 300px;
}
/* целеустремленность стрессоустойчивость оперативность готовность изучать новое */
.prof_quality{
	display: flex;
	
}
.prof_quality ul{
	list-style-type: none;
	padding-left: 0;
	line-height: 32px;
	font-size: 18px;
	color: #BFBFBF;
}
/* heart */
.person_quality{
	margin-left: 6%;
}
.person_quality li img{	
	width: 23px;
	height: 23px;
}
	/* 342 */
.indicators{
	line-height: 25px;
	font-size: 14px;
	color: #797979;
}
/* Rectangle */
.prof_quality ul li progress{
	width: 204px;
	height: 18.81px;
	color: #008CDF;
	margin-left: 30px;
}
.qualities{
	display: flex;
}
.qualities span{
	flex: 1;
}
/* Заметки о себе */

.about_oneself{
	float: left;
	width: 1085px;
	height: auto;
	margin-right: 75px;
}
.about_oneself h5{
	line-height: 25px;
	font-size: 24px;
	color: #000000;
}
/* Возможно размещение короткого пояснительного текста о себе с указанием личных достижений и значимых наград Характер: спокойный, усидчивый, умение ставить цели и достигать их */
.about_oneself p{
	font-weight: 300;
	line-height: normal;
	font-size: 16px;
	color: #767676;
}
/*Мои опросы*/
.ques{
	display: flex;
	flex-flow: column;
	width: 1400px;
	height: 360px;
	margin: auto;
}
.polls{
	display: flex;
}
.reviews_about_me{
	width: 1400px;
	height: 343px;
	margin: auto;
	background-color: #F2F2F2;
}
.headin{
	margin: 30px 30px 0px 30px;
	width: 406px;
	height: auto;
}

.headin h4{
	margin-bottom: 20px;
	line-height: 23px;
	font-size: 22px;
	color: #323232;
}
.text_survey{
	margin-bottom: 50px;
	font-weight: 300;
	line-height: 17px;
	font-size: 16px;
	color: #767676;
}
.headin h6{
	line-height: 19px;
	font-size: 18px;
}
.headin span{
	line-height: 19px;
	font-size: 18px;
	color: #4C4C4C;
	margin-bottom: 10px;
	display: block;
}
.headin a{
	font-weight: 300;
	line-height: 19px;
	font-size: 18px;
	text-decoration-line: underline;
	color: #767676;
	float: right;
}
.text_reviews{
	margin-bottom: 0;
	font-weight: 300;
	line-height: 19px;
	font-size: 18px;
	color: #4C4C4C;
}
/* result-for */
.prog_green{
	width: 340px;
	height: 42.1px;
	background: #009643;
	margin-bottom: 15px;
}
.prog_orange{
	width: 340px;
	height: 42.1px;
	background: #EAB600;
}
.add_a_poll{
	width: 20%;
	padding: 1%;
	border: solid 2px #0FA5FE;
	text-align: center;
	margin: 10px auto;
	font-weight: bold;
	line-height: 21px;
	font-size: 20px;
	color: #0FA5FE;
	cursor: pointer;
}
.add_a_poll:hover{
	border: solid 1px #C9C9C9;
}
.add_a_poll span{
	display: block;
}
/* footer */
.footer{
	width: 100%;
	height: 50px;
	float: left;
	text-align: center;
	background: #FFFFFF;
	line-height: 19px;
	font-size: 18px;
	color: #C9C9C9;
}
.footer span{
	display: block;
	margin-top: 15px;
}

/* add-poii */
.flexbox{
	display: flex;
	flex-flow: column;
}
.title_new_poll{
	flex: 0 1 auto;
	margin-bottom: 14px;
}
.topic{
	display: flex;
}
#topic{
	margin-left: 2%;
}
.description{
	margin-top: 15px;
	display: flex;
	flex: 0 1 auto;
	margin-bottom: 28px;
}

#description{
	resize: none;
}
.access_point{
	display: flex;
	flex: 2 1 auto;
	margin-left: 2%;
}
.select_access{
	display: flex;
	width: 100%;
	height: 40px;
}
#access{
	width: 100%;
}
.form_htader{
	display: 1 1 auto;
	line-height: 42px;
	font-size: 24px;
	color: #3C3C3C;
}
#survey input textarea{
	border: 1px solid #C4C4C4;
	outline: none;
	-moz-appearance: none;
}
.institute label{
	line-height: 28px;
	font-size: 16px;
	color: #000000;
}
.group{
	margin-left: 10%;
}
/* Сам опрос */
.the_survy_itself{
	display: flex;
	flex-flow: column;
}
.the_survy_itself{

}
.answers{
	display: flex;
	justify-content: space-between;
}
.add_options{
	flex-grow: 12;
}
.response_types{
	flex-grow: 3;
}
.option{
	width: 50%;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #C4C4C4;
}
.options{
	cursor: pointer;
}
.add_question{
	width: 25%;
}
.add_question span{
	padding: 3%;
}
/* Предпросмотр, публикация */
#publication{
	display: flex;
	flex-direction: row-reverse;
}
.publication{
	display: flex;
	margin-right: 5%;
}
.previe{
	margin: 5px;
	line-height: 32px;
	font-size: 18px;
	text-decoration-line: underline;
	color: #B2B2B2;
	cursor: pointer;
}
.eye{
	margin-top: 9%;
	width: 30px;
	height: 15px;
}
.publish{
	background-color: #008CDF;
	border: none;
	width: 25%;
	line-height: 32px;
	font-size: 18px;
	color: #FFFFFF;
}

/**/
.wrapper{
	width: 100%;
	display: flex;
	flex-flow: column;
	margin: auto;
	height: auto;
	background-color: #ffffff;
}
}
.return_page{
	display: flex;
	align-items: center;
}
.return_page img{
	width: 20%;
}
.return_page{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.user{
	line-height: 21px;
	font-size: 20px;
	color: #B2B2B2;
	margin-left: 5%;
}
.sandwich{
	display: flex;
	flex-flow: column;
	width: 15%;
}
.sandwich span{
	width: 40%;
	padding: 4%;
	margin-top: 8%;
	margin-left: 20%;
	cursor: pointer;
	background-color: #E5E5E5;
}
.global_search{
	background-color: #008CDF;
	display: flex;
	flex: 1 0 auto;
	flex-flow: column;
	align-items: center;
}
.global_search > *{
	width: 90%;
	margin-top: 2%;
}
.heading{
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 38px;
	font-size: 36px;
	color: #FFFFFF;
}
.heading img{
	width: 7%;
}
.organization{
	text-align: center;
}
#organization{
	width: 40%;
	padding: 1%;
}
#organization option:nth-child(1){
	line-height: 19px;
	font-size: 18px;
	color: #C9C9C9;
}
.organization_text{
	line-height: 25px;
	font-size: 24px;
	color: #FFFFFF;
}
.organization button{
	background-color: #FFB801;
	width: 30%;
	height: 15%;
	border: none;
	line-height: 25px;
	font-size: 24px;
	color: #FFFFFF;
	padding: 1%;
	margin-top: 2%;
}
#search_person{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 2%;
}
.search_person{
	display: flex;
	border: 1px solid #FFFFFF;
	align-items: center;
	width: 25%;
	padding: 1%;
	line-height: 25px;
	font-size: 24px;
	color: #FFFFFF;
}
.details_organization{
	flex: 1 0 auto;
}
.structure{
line-height: 30px;
font-size: 28px;
color: #5A5A5A;
}
.structure li *{
	margin-top: 1%;
}
.students{
 margin-left: 3%;
}
.faculties{
margin-left: 4%;
}
.departments{
margin-left: 5%;
}
.group_number{
margin-left: 6%;
}
.students_list{
margin-left: 7%;
}